@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0F212F;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 400px;
    position: relative;
    top: -5%;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.picture {
    margin-bottom: 20px;
    height: 33vh;
}

.emoji {
    height: 10vh;
    position: absolute;
    top: 5vh;
    opacity: 1;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.emoji.hidden {
    opacity: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100px;
}

.base-text {
    font-size: 1.3rem;
    color: #FFF;
    font-weight: 700;
}

.reason-text {
    font-size: 1.6rem;
    color: #75dddd;
    font-weight: 700;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.reason-text.hidden {
    font-size: 1.6rem;
    color: #384042;
    font-weight: 700;
}

.btn {
    width: 100%;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    min-height: 45px;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFF;
    background-color: #0acf80;
    cursor: pointer;
    border-width: 0;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.btn:hover {
    background-color: #0acf4f;
}

.btn:active {
    background-color: #0acb30;
    box-shadow: 1px 1px 3px rgba(93, 93, 93, 0.5);
    transform: translateY(2px)
}

.btn[disabled] {
    background-color: #384042;
    color: #5c5f5f;
    box-shadow: none;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

footer {
    position: absolute;
    bottom: 5px;
    color: #FFF;
    font-size: 0.7rem;
}